// Breakpoints
$mobile-breakpoint: 768px;

// Colours
$primary-color: hsl(180, 29%, 50%);
$light-cyan: hsl(180, 52%, 96%);
$light-grey-cyan: hsl(180, 31%, 95%);
$dark-cyan: hsl(180, 8%, 52%);
$dark-grey: hsl(180, 14%, 20%);
